@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vars';

html,
body {
  font-family: 'Lato', sans-serif;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn {
  &__primary {
    @apply flex;
    @apply items-center;
    @apply bg-[#10b981];
    @apply text-white;
    @apply h-[40px];
    @apply px-4;
    @apply rounded-lg;
    @apply shadow;
    @apply duration-300;
    @apply ease-in-out;

    &:hover {
      background-color: darken($sky, 5%);
    }
  }

  &__action {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply rounded-full;
    @apply bg-red-300;
    @apply text-red-600;
  }
}

.alert {
  @apply flex;
  @apply items-center;

  &__danger {
    @apply p-4;
    @apply bg-red-200;
    @apply text-sm;
    @apply font-semibold;
    @apply text-red-500;
    @apply capitalize;
  }
}

.credential {
  &__input {
    @apply w-full;
    @apply h-[45px];
    @apply border;
    @apply border-gray-500;
    @apply shadow;
    @apply rounded-lg;

    &.isError {
      @apply border-2;
      @apply border-red-600;

      &::placeholder {
        @apply text-red-600;
      }

      &:focus {
        @apply border-red-600;
      }
    }
    
    &:focus {
      @apply ring-0;
      @apply border-2;
      @apply border-teal-600;
    }
  }

  &__password {
    @apply relative;
    @apply flex;
    @apply items-center;

    .credential__input {
      @apply pr-10;
    }
  }

  &__toggle {
    @apply grid;
    @apply place-content-center;
    @apply absolute;
    @apply right-3;
    @apply w-[30px];
    @apply h-[30px];
    @apply rounded-full;
    @apply transition-all duration-300 ease-linear;

    &:hover {
      @apply bg-[#10b981];
    }
  }

  & .error {
    @apply text-sm;
    @apply text-red-600;
  }
}